<div class="top-row">
  <app-container class="top-row__container container">
    <h1>Do you love Scrabble?</h1>
    <p>This is just some placeholder text about scrabble. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.</p>
  </app-container>
  <app-container *ngFor="let card of cards" class="top-row__container container">
    <app-card class="container__card">
      <fa-icon [icon]="card.icon"></fa-icon>
      <h2>{{card.title}}</h2>
      <p>{{card.content}}</p>      
      <a href={{card.link}}>{{card.link}}</a>      
    </app-card>
  </app-container>
</div>
<div class="table-container">  
  <app-container class="table-container__container container">
    <h1>Results</h1>
    <app-table></app-table>
  </app-container>
</div>