<div class="top-row">
  <app-container class="top-row__container container">
    <h1>Do you love Scrabble?</h1>
    <p>This is just some placeholder text about scrabble. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.</p>
  </app-container>
  <app-container class="top-row__container container">
    <div>
      <fa-icon [icon]="faPhone"></fa-icon>
      <h2>Call us</h2>
      <p>We are available 9am - 5pm</p>
      <p><strong>0115 123 4569</strong></p>
    </div>
  </app-container>
  <app-container class="top-row__container container">
    <div>
      <fa-icon [icon]="faLocationPin"></fa-icon>
      <h2>Find us</h2>
      <p>123 Fake Street, Someplace, Nottingham, NG1 2TR</p>
      <p><strong>Open in maps</strong></p>
    </div>
  </app-container>
</div>
<div class="table-container">
  
  <app-container class="table-container__container container">
    <h1>Results</h1>
    <app-table></app-table>
  </app-container>
</div>
