<table mat-table [dataSource]="gameData" matSort class="mat-elevation-z8">

  <!-- Position Column - Adds the applicable trophy and assigns gold/silver/bronze class-->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by position" (click)="toggleActiveColumn($event)">
      Position
    </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'active' : ('Position' === activeColumn)}"> {{element.position}}.
      <fa-icon 
        [icon]="faTrophy" 
        *ngIf="
          element.position == 1 || 
          element.position == 2 || 
          element.position == 3 "
         [ngClass]="{ 
           'trophy-gold' : (element.position == 1), 
           'trophy-silver' : (element.position == 2), 
           'trophy-bronze' : (element.position == 3)
          }">
      </fa-icon> 
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name" (click)="toggleActiveColumn($event)">
      Player Name
    </th>
    <td 
      mat-cell 
      *matCellDef="let element" 
      [ngClass]="{'active':('Player Name' === activeColumn)}"> {{element.name}} 
    </td>
  </ng-container>

  <!-- Games played Column -->
  <ng-container matColumnDef="GamesPlayed">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by GamesPlayed" (click)="toggleActiveColumn($event)">
      Games Played
    </th>
    <td 
      mat-cell 
      *matCellDef="let element" 
      [ngClass]="{'active':('Games Played' === activeColumn)}"> {{element.GamesPlayed}}
    </td>
  </ng-container>

  <!-- Score Column -->
  <ng-container matColumnDef="TotalScore">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by TotalScore" (click)="toggleActiveColumn($event)">
      Total Score
    </th>
    <td 
      mat-cell 
      *matCellDef="let element" 
      [ngClass]="{'active' : ('Total Score' === activeColumn)}"> {{element.TotalScore}}
    </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row
   *matRowDef="
    let row; 
    let element; 
    columns: displayedColumns;
    let i = index;" 
    [attr.player]="element.name + ' ' + element.TotalScore + ' ' + i">
  </tr>
</table>